body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: #E0E0E0;
    padding: 300px;
}

.container {
    background: #1E1E1E;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 400px;
}

h1 {
    text-align: center;
    color: #BB86FC;
    font-size: 2em;
}

.container p {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    color: #E0E0E0;
}

.field {
    width: 100%;
    margin: 20px 0;
}

.field label {
    padding-left: 10px;
    font-size: 1.2em;
    display: block;
    margin-bottom: 5px;
}

.radiobox label {
    width: auto;
    display: inline-block;
    margin-right: 10px;
    font-size: 1em;
}

input[type=text],
input[type=number] {
    width: calc(100% - 20px);
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #2C2C2C;
    color: #E0E0E0;
    outline: none;
}

input[type=text]::placeholder,
input[type=number]::placeholder {
    color: #757575;
}

input[type=text]:focus,
input[type=number]:focus {
    border-color: #BB86FC;
}

button {
    display: block;
    background-color: #0d0080;
    color: white;
    height: 40px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    border-radius: 10px;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3538ff;
}
