/* Estilo geral do corpo da página */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
    background-color: #f5f5f5; /* Cor de fundo leve para contraste */
}

/* Estilo da seção onde o formulário está localizado */
section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Largura fixa para o formulário */
}

/* Estilo para os elementos de campo */
.field {
    margin: 15px 0;
}

.field label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
}

/* Estilo para os campos de entrada de texto e número */
input[type=text],
input[type=number] {
    width: 100%;
    padding: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box; /* Inclui o padding na largura total */
}

/* Estilo do botão */
button {
    background-color: #ee7474;
    color: white;
    height: 35px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    margin-top: 20px;
}
